{% load static %}
<div id="foo" class="row">
    <div  class="col-4">
        <h5>ONDE ESTAMOS</h5>
           AV. Antonio fernandes Leite, 150 <br>
           Hortolândia, SP-Brasil <br>
           Tel. 55 19.35363008 <br>
           estacionamento@estacionamento24h.com.br




    </div>
    <div class="col-4">
    <h5>estacionamento 24horas</h5>
        Nossos veleiros possuem excelente valor de <br>
           revenda no mercado, fazendo da Delta Yachts <br>
            uma das empresas líder no mercado nacional.
    </div>
    <div class="col-4">
       <h5> Redes Social</h5>
        <a><img src="{% static 'imagem/fecelogo3.png' %}" alt="Estacionamento 24 horas"></a><br>
        <img src="{% static 'imagem/watlogo.png' %}" alt="Estacionamento 24 horas"><br>

        <img src="{% static 'imagem/tuiterlogo.png' %}" alt="Estacionamento 24 horas">
    </div>
</div>