{% extends 'website/base.html'%}
{% load static%}
{% block main %}

      {% load static %}

      {% include 'website/menu.html'%}
<h3 id="h301"> Seja bem vindo ao  web site</h3>
     <dir class="row">
         <div class="col-6">
             <h4>Autor</h4>
             Nome: Aldo Cesar de Lima<br>
             Formaçao: &nbsp;  Analise e Desenvolvimento de Sistemas.<br>
             Pós-graduação: Business intelligence,
              big data e analytics - ciência de dados.

             <br>


         </div>
         <div class="col-6">
             <h4> Sobre o projeto</h4>
<p>O projeto Controle de Estacionamento é uma aplicação full stack web, que tem
    Como objetivo mostrar aos recrutadores o domínio de algumas tecnologias.
    a plicação é composta em duas partes:</p>
             <p>A primeira, site para apresentar o domínio de, html, css e javascript.</p>
   <p> A segunda, um sistema para demostrar o domínio de, django, python e suas bibliotecas, o sistema simula a parte operacional a movimentação,</p>
         </div>
     </dir>
<div di="col7" class="row">
     <div class="col-5">

     </div>
    <div  class="col-7">
               <h4> Sobre o WebSite</h4>
              <p>
              Pagina Home:  Resumo do objetivo do projeto.<br>
              Pagima Home Estacionamento: Simulação de uma página institucional.<br>
              Pagina Contato:  Formatação  de uma página. <br>
              Pagina Sistema:  Link para a parte de sistema do projeto.<br>
              Pagina Imagens: Simulação de uma página de imagens.
    </p>
    </div>
</div>
{% endblock %}