{%extends 'core/base.html'%}
{%block main%}
{% load bootstrap %}
<div class="row">
    <div class="col-sm-6">
        <h2>lista veiculo</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
      <ul>
        {% for veiculo in veiculos %}
           <li>
              <a href="{% url 'core_veiculo_update' veiculo.id %}"> {{veiculo}}</a>
           </li>
         {% endfor %}
      </ul>
    </div>
   <div class="col-sm-6">
      <form action="{% url 'core_veiculo_novo'%}" method="POST">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit">Cadastrar</button>
      </form>
   </div>
</div>
{%endblock%}

