
{% extends 'core/base.html'%}
{% block main %}
{% load bootstrap %}

<br>
<div class="row">
    <div class="col-sm-6">
        <h2>Lista pessoas</h2>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col">Entrado</th>
      <th scope="col">Saida</th>
      <th scope="col">veiculo</th>
       <th scope="col">Editar</th>
    </tr>
  </thead>

  <tbody>
{% for movRotativo in movRotativos %}
    <tr>
      <th scope="row">{{movRotativo.id}}</th>
      <td>{{movRotativo.checkin}}</td>
      <td>{{movRotativo.checkout}}</td>
      <td>{{movRotativo.veiculo}}</td>
       <td><a href="{% url 'core_movRotativo_update' movRotativo.id %}">Editar</a></td>
    </tr>
    {% endfor%}
  </tbody>
</table>

        </div>

    <div class="col-sm-6">
        <h2>Novo Movimento</h2>
             <form action="{% url 'core_movRotativo_novo'%}" method="POST">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit">Cadastrar</button>
  </form>
    </div>
</div>
{% endblock %}
