{% extends 'core/base.html'%}
{% block main %}
{% load bootstrap %}
<div class="row">
      <div class="col">
      <h2>Update Mensalista:{{mensalista}}</h2>
      </div>
</div>
<div class="row">
      <div class="col">
        <form action="" method="POST">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-success">Cadastra</button>
            <a href="{% url 'core_mensalista_delete' mensalista.id %}"class="btn btn-danger" >Deletar</a>
       </form>
      </div>
</div>
    {% endblock %}

