{% extends 'core/base.html'%}
{% block main %}
{% load bootstrap %}
<div class="div2">
    <br>
  <div class="row">
      <div class="col-4">
      </div>
      <div class="col-6">
          <div class="formu">
                <h2>Update Mensalista:{{mensalista}}</h2>
              <form action="" method="POST">
                 {% csrf_token %}
                 {{form|bootstrap}}
                  <button type="submit" class="btn btn-success">Cadastra</button>
                   <a href="{% url 'core_lista_mensalista' %}" class="btn btn-success">Voltar</a>
                <a href="{% url 'core_mensalista_delete' mensalista.id %}"class="btn btn-danger" >Deletar</a>
              </form>
          </div>
      </div>
  </div>

</div>
    {% endblock %}

