body{
background-color : #A9A9A9;
}
.div1 {
background-color :#EAEAAE ;
}
.div2{
background-color :#EAEAAE ;
height: 630px;
}
li {
background-color : #F0E68C;
}

table {
background-color : #BDB76B;

}
.formu {
background-color : #BDB76B;
padding-right:20px;
padding-left: 20px;
margin-right: 20px;
margin-bottom: 10px;

}
#lveiculo {
padding-right:10px;
padding-left:30px;
}

#lpessoas {
padding-right:10px;
padding-left:30px;
}

.b1 {
margin-left:620px;
}
.pagination {
   margin-bottom: 20px;
 }
   .step-links {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   }
   .step-links .current {
   margin-left: 5px;
   margin-right: 5px;

}
#formp {
background-color : #BDB76B;
padding-right:20px;
padding-left: 20px;
margin-right: 20px;
margin-bottom: 10px;
}
#lmensalista {
padding-right:10px;
padding-left:30px;
}

#lmovmensalista {
padding-right:10px;
padding-left:30px;

}
#lmovrotativo {
padding-right:10px;
padding-left:30px;
}
#fila {
background-color : #BDB76B;
}


#teste1 {
background-color : #BDB76B;
}

h1#h301{
color: #006400;
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
}

p#texto1 {
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
}
#imgdagrama {
 position: relative;
   margin-left: 350px;
   margin-right: 40px;
margin-top: 40px;
margin-bottom: 40px;

}

.cad{
text-align: center;
}

#login {
background-color : #BDB76B;
}